$primaryColour: #7bfab0;
$secondaryColour: #f1f1f1;
$mainFont: monospace;

@mixin centreWithBgColour($height, $colour, $disp) {
    justify-content: center;
    align-items: center;
    background-color: $colour;
    height: $height;
    display: $disp;
}

@mixin fontParams($font, $size) {
    font-family: $font;
    font-size: $size;
}

.rows {
    text-align: center;
    padding-bottom: 2%;
    .row {
        padding-left: 5%;
        padding-right: 5%;
        display: inline-block;
    }
}

.container {
    @include centreWithBgColour(800px, $primaryColour, block);
}

.notes-container {
    @include centreWithBgColour(250px, $primaryColour, block);
}

.note {
    @include centreWithBgColour(60px, $primaryColour, flex);
}

.option {
    @include centreWithBgColour(100px, $secondaryColour, flex);
}

.controls {
    @include centreWithBgColour(100px, $primaryColour, flex);
}
  
.heading {
    padding-top: 5%;
    @include centreWithBgColour(50px, $primaryColour, flex);
}

.authors {
    padding-bottom: 5%;
    @include centreWithBgColour(40px, $primaryColour, flex);
}

h2 {
    @include fontParams($mainFont, 3.5rem);
}

p {
    @include fontParams($mainFont, 0.8rem);
}

a {
    color: inherit;
}
